Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AncientTreasures/
Content/FXVarietyPack/
Content/Fab/
Content/InfinityBladeIceLands/
Content/MSPresets/
Content/ParagonGreystone/
Content/ParagonGrux/
Content/Realistic_Starter_VFX_Pack_Vol2/
Content/StarterContent/